@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        San José, Costa Rica <br />
        Rohrmoser, Pavas <br />
        PO BOX 10109
    </address>

    <address>
        <strong>Soporte y Marketing:</strong>   <a href="mailto:erickmartbre@gmail.com</">erickmartbre@gmail.com</a><br />
    </address>
</main>