@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Gestión de Personal y Proyectos</h1>
        <p class="lead">Sistema creado para la fácil implementacíón de usuarios y asignación de proyectos</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">¿Cómo usar la aplicación?</h2>
            <p>
                Dentro de esta aplicación WEB podrás agregar usuarios, crear proyectos y asignarlos a los usuarios
                de la forma más sencilla vista en el mercado, su simple sistema permite la fácil navegación por los menús
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">¿Tienes dudas o sugerencias?</h2>
            <p>¡Entra al apartado de "Contacto"" para comunicarte con el equipo de soporte!</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">TopiCreations</h2>
            <p>Sistema creado por TopiCreations, creando sistemas de gestión de usuarios desde 2018</p>
            <p><a class="btn btn-outline-dark" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">¿Quieres saber más? &raquo;</a></p>
        </section>
    </div>
</main>